/* 
 * $Id: MacOSX-heavy.css,v 1.1.1.1 2004-04-13 23:41:42 braden Exp $
 *
 * phpwiki-heavy.css
 *
 * This is stuff which should be in phpwiki.css, but which breaks NS4.
 */

/**
 * Wiki
 */
/* this completely prevents NS4 from editing pages. */
textarea.wikiedit, input.wikitext, textarea.summary {
  background: white;
  /* for older browsers */
  border: 1px solid black;

  border-top:    1px solid #7c7c7c;
  border-left:   1px solid #c3c3c3;
  border-bottom: 1px solid #dddddd;
  border-right:  1px solid #c3c3c3;
  padding-left: 0.8em; 
  padding-right: 0.8em; 
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin: 0.5ex 0px;
 /* This breaks Netscape 4: (display does not go full width).
    width: auto;
 */
 clear: both;
}



/* This makes spacings in NS4 too big. */
.toolbar , div.toolbar  {
  margin : 0.5ex 0;
}
/* This break NS4, but is necessary for IE4. */
div.wikitext  {
  width : auto;
}
/* Link icons */
img.linkicon  {
  vertical-align : middle;
}


/**
 * PageTypes
 */
.interwiki-map thead td,
.interwiki-moniker,
.interwiki-url {
  padding-left: 1em;
  padding-right: 1em;
}


/**
 * Diff Output
 */
/* main box */
.diff {
  margin:  0.5ex 0;
  padding: 1px;
}
.diff .block {
  padding: 0.5ex 0.5em;
}
/* blocks containing deleted or added words */
.diff .original, .diff .deleted,
.diff .final, .diff .added {
  padding: 1px;
}

.diff .block div {
  position: relative;
  padding-left: 1.5em;
} 
.diff .prefix {
  position: absolute;
  left: 0;
  top:  0;
}

/* These don't work in NS4 -- it completely ignores <del> and <ins>. */
/* deleted & added words */
.diff del, .diff ins {
  padding-left: 0.5ex;
  padding-right: 0.5ex;
}

