/**
 * $Id: portland.css,v 1.1.1.1 2004-04-13 23:41:42 braden Exp $
 *
 * PhpWiki's Portland style sheet based on the original Wiki
 *
 * Styles are kept to a minimum, so the page will mostly appear
 * according to the browser's default font settings.
 */
body {
  color : black;
  background : white;
}

img {
  border : 0 none;
}

.wiki-edithelp {
  font-size : smaller;
}

input.numeric {
  text-align: right;
}

.clear-floats {
  clear: both;
}

/*
 * Vertical margins around block elements.
 */

p { margin: 1em 0; }		/* Normal ("loose") paragraphs */
li p, dd p, td p { margin: 1ex 0; } /* Paragraphs within lists are a little tighter. */
  
/* ul, ol, dl { margin: 0.2ex 0; }	/* A little room around lists. */
/* li ul, li ol, li dl,
dd ul, dd ol, dd dl { margin: 0 0; } /* but not around sub-lists. */

/* Normal ("loose") list elements */
li.tightenable { margin: 1em 0; }
dt.tightenable { margin-top: 1em; }
dd.tightenable { margin-bottom: 1.5ex; }

  
li.tightenable.top,
dt.tightenable.top,
dd.tightenable.top {
  margin-top: 0.2ex;
}
li li.tightenable.top {
  margin-top: 0;
}
li.tightenable.bottom,
dd.tightenable.bottom {
  margin-bottom: 0.2ex;
}
li li.tightenable.bottom {
  margin-bottom: 0;
}

.tightenable.top {
  margin-top: 0;
}
.tightenable.bottom {
  margin-bottom: 0;
}

/*
 * "DL tables"
 */
.wiki-dl-table {
  border-collapse: collapse;
  border: 2px #444 solid;
}
.wiki-dl-table tr {
  border-top: 2px #444 solid;
  border-bottom: 2px #444 solid;
  border-left: none; 
  border-right: none; 
}
.wiki-dl-table tr.tightenable.top {
  border-top: 1px #444 solid;
}
.wiki-dl-table tr.tightenable.bottom {
  border-bottom: 1px #444 solid;
}
.wiki-dl-table th,
.wiki-dl-table td {
  padding: 0.25em 0.5em;
}
.wiki-dl-table th {
  vertical-align: top;
  text-align: right;
  border-right: 1px #444 solid;
  border-left: none;
  border-top: none;
  border-bottom: none;
}
.wiki-dl-table td {
  border: none;
}

/* Mozilla RecentChanges Sidebar */
body.sidebar {
  font-size: smaller;
  margin: 0.5em;
}
body.sidebar div.wikitext ul { padding-left: 1em; }
body.sidebar h2 { margin-top: 0; }

