<?php // -*-html-*-
  rcs_id('$Id: browse-footer.tmpl,v 1.1.1.1 2004-04-13 23:41:42 braden Exp $');
?>
<hr class="printer" noshade="noshade" />
<p class="editdate"><?= $Theme->getLastModifiedMessage($revision) ?></p>
